<div class="row">
<div class="col-md-5">
  <div ng-repeat="group in $ctrl.groups">
    {{$ctrl.getLocation(group)}}   " />
  </div>
</div>

<div class= "col-md-7" map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{$ctrl.googleMapsUrl}}">
    <md-content class="view-map" layout="row">
        <md-card style="width: 550px;">
            <md-card-content style="width: 550px;">
                <ng-map default-style="true" center="Germany" zoom="5">
                    <div ng-repeat="group in $ctrl.groups">
                         <marker position="{{$ctrl.getLocation(group)}}" />
                    </div>
                </ng-map>
            </md-card-content>
        </md-card>
    </md-content>
</div>

<md-list class= "col-md-12">

    <md-list-item aria-label="Group" ng-click="$ctrl.details(group)" class="md-3-line" ng-repeat="group in $ctrl.groups">
        <md-icon><ng-md-icon icon="insert_drive_file"></ng-md-icon></md-icon>

        <div class="md-list-item-text">
            <h3><b>{{group.title}}</b></h3>
            <h5><i>Created on: {{group.published_date | date:'dd/MM/yyyy'}}</i></h5>
            <p style="color:black"><strong>{{group.description}}</strong></p>
        </div>

        <div layout="column" layout-align=" end end">
            <md-button ng-if="$ctrl.UserService.getCurrentUser().username == group.author" class="md-icon-button " aria-label="Delete Item" ng-click="$ctrl.delete(group)">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </md-button>
        </div>

        <md-divider ng-if="!$last"></md-divider>

    </md-list-item>
    <md-divider></md-divider>

</md-list>
<md-button class="md-fab md-fab-bottom-right md-ink-ripple" aria-label="New Group" ng-click="$ctrl.newGroup()">
    <md-icon><ng-md-icon icon="add"></ng-md-icon></md-icon>
</md-button>
