
<div class="intro-header" style="background: url({{$ctrl.loadImage('organic.png')}}) no-repeat center center; background-size: cover;">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message featurette-heading">
                    <h1 class="text-center" >What's in Your Fridge?</h1>
                    <div class="text-center">
                        <tags-input ng-model="$ctrl.tags" placeholder="Type here.." add-on-paste="true">
                            <auto-complete source="$ctrl.loadTagsFromIngredients()"></auto-complete>

                        </tags-input>
                        <button  ng-click="$ctrl.getByIngredients()" type="submit" class="btn btn-primary">Search</button>


                        {{$ctrl.loadTagsFromIngredients()}}
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
</div>
