
<div class="row">

<div class= "col-md-6">
  <md-card id="form">

    <md-card-title>
        <md-card-title-text>
          <div class="row">
              <span class="md-headline col-md-4">{{$ctrl.recipe.title}}</span>

            </div>

            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Edit Item" ng-click="$ctrl.edit()" >
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </md-button>

                <md-button class="md-icon-button"aria-label="Delete Item" ng-click="$ctrl.delete()" >
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </md-button>
            </md-card-actions>

        </md-card-title-text>

    </md-card-title>

    <md-card-content>
        <p><b>Description:</b> {{$ctrl.recipe.description}}</p>
        <b><p>Ingredients:</p></b>
        <div ng-repeat="ingredient in $ctrl.recipe.ingredients">
            <div layout="row">
                <div flex><p>[{{$index + 1}}]  {{ingredient["name"]}} </p></div>
                <div flex><p>Quantity: {{ingredient["quantity"]}} </p></div>
            </div>
        </div>
    <br/>
        <b><p>Preparation steps:</p></b>
        <div ng-repeat="step in $ctrl.recipe.directions">
            <p>Step {{$index + 1}}: {{step}}</p>
        </div>
    </md-card-content>
</md-card>
</div>



<div>
<!-- ratings information -->
   <div class="col-md-3">
     <div>
       <h4>Average User Rating</h4>
       <h2 class="bold padding-bottom-7">{{$ctrl.getRating()}} <small>/ 5  ({{$ctrl.getNumberofReviews()}} Reviews)</small></h2>

       <div class="row">
         <!-- filled stars -->
         <span ng-repeat="i in $ctrl.getNumberOfFilledStars() track by $index">
                <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                       <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
               </button>
         </span>
       <!-- empty stars -->
       <span ng-repeat="i in $ctrl.getNumberOfEmptyStars() track by $index">
              <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                     <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
       </span>
     </div>
   </div>
 </div>

   <div class="col-md-3">
     <h4>Rating Breakdown</h4>
     <div class="pull-left">
       <div class="pull-left a">
         <div class="b">5 <span class="glyphicon glyphicon-star"></span></div>
       </div>
       <div class="pull-left c">
         <div class="progress d">
           <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{($ctrl.numberOfReviewsWithStar(5)*100)/$ctrl.getNumberofReviews()}}%">
           </div>
         </div>
       </div>
       <div class="pull-right f">{{$ctrl.numberOfReviewsWithStar(5)}}</div>
     </div>
     <div class="pull-left">
       <div class="pull-left a">
         <div class= "b">4 <span class="glyphicon glyphicon-star"></span></div>
       </div>
       <div class="pull-left c">
         <div class="progress d">
           <div class="progress-bar progress-bar-primary" role="progressbar" style="width: {{($ctrl.numberOfReviewsWithStar(4)*100)/$ctrl.getNumberofReviews()}}%">
           </div>
         </div>
       </div>
       <div class="pull-right f">{{$ctrl.numberOfReviewsWithStar(4)}}</div>
     </div>
     <div class="pull-left">
       <div class="pull-left a">
         <div class="b">3 <span class="glyphicon glyphicon-star"></span></div>
       </div>
       <div class="pull-left c">
         <div class="progress d">
           <div class="progress-bar progress-bar-info" role="progressbar" style="width: {{($ctrl.numberOfReviewsWithStar(3)*100)/$ctrl.getNumberofReviews()}}%">
           </div>
         </div>
       </div>
       <div class="pull-right f">{{$ctrl.numberOfReviewsWithStar(3)}}</div>
     </div>
     <div class="pull-left">
       <div class="pull-left a">
         <div class="b">2 <span class="glyphicon glyphicon-star"></span></div>
       </div>
       <div class="pull-left c">
         <div class="progress d">
           <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{($ctrl.numberOfReviewsWithStar(2)*100)/$ctrl.getNumberofReviews()}}%">
           </div>
         </div>
       </div>
       <div class="pull-right f">{{$ctrl.numberOfReviewsWithStar(2)}}</div>
     </div>
     <div class="pull-left">
       <div class="pull-left a">
         <div class="b">1 <span class="glyphicon glyphicon-star"></span></div>
       </div>
       <div class="pull-left c">
         <div class="progress d">
           <div class="progress-bar progress-bar-danger" role="progressbar" style="width: {{($ctrl.numberOfReviewsWithStar(1)*100)/$ctrl.getNumberofReviews()}}%">
           </div>
         </div>
       </div>
       <div class="pull-right f">{{$ctrl.numberOfReviewsWithStar(1)}}</div>
     </div>
   </div>

<!-- reviews -->
  <div class="col-sm-6">
    <hr />
     <div layout="row">
       <h4 class="col-sm-10">Reviews</h4>
       <!-- Trigger the review modal with a button -->
      <button type="button" class="btn btn-success col-sm-2 btn-sm" data-toggle="modal" data-target="#myModal">Add Review</button>

     </div>

     <div class="scroll">
     <ul>
       <li style="list-style: none;" ng-repeat="review in $ctrl.model.reviews">
         <div class="row">
           <div class="col-sm-2">
             <div class="thumbnail">
               <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
             </div><!-- /thumbnail -->
           </div>

           <div class="col-sm-10">
             <div class="panel panel-default">
               <div class="panel-heading">
                 <strong>{{review.author}} </strong> <span class="text-muted"> commented {{review.published_date | date:'dd/MM/yyyy'}}</span>
                 <md-button ng-if="$ctrl.UserService.getCurrentUser().username == review.author" class="md-icon-button pull-right layout-align-center-end" aria-label="Delete Item" ng-click="$ctrl.deleteReview(review)" >
                     <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                  </md-button>
                 </div>
               <div class="panel-body">
                 {{review.comment}}
               </div><!-- /panel-body -->
             </div><!-- /panel panel-default -->
           </div>
         </div>
       </li>
     </ul>
    </div>
  </div>
 </div>
</div>


<!-- reviews modal -->
  <div id="myModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{$ctrl.UserService.getCurrentUser().username}}</h4>
      </div>

      <div class="modal-body">
        <textarea class="form-control" rows="3" id="inputName" placeholder="Review.." ng-model="$ctrl.review_comment" required=""></textarea>
        <label for="rating">Please rate the recipe:</label>
          <select class="form-control" id="rating" ng-model="$ctrl.stars">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$ctrl.addReview()" >Add Review</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
