<md-card>
    <md-card-title>
        <md-card-title-text>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Edit Item" ng-click="$ctrl.edit()" >
                    <md-icon><ng-md-icon icon="mode_edit"></ng-md-icon></md-icon>
                </md-button>

                <md-button class="md-icon-button"aria-label="Delete Item" ng-click="$ctrl.delete()" >
                    <md-icon><ng-md-icon icon="delete" ></ng-md-icon></md-icon>
                </md-button>
            </md-card-actions>

            <span class="md-headline">{{$ctrl.recipe.title}}</span>

        </md-card-title-text>

    </md-card-title>

    <md-card-content>
        <!--here put the recipe content-->
    </md-card-content>


</md-card>