<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{$ctrl.recipe.title}}</span>

            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Edit Item" ng-click="$ctrl.edit()" >
                    <md-icon><ng-md-icon icon="mode_edit"></ng-md-icon></md-icon>
                </md-button>

                <md-button class="md-icon-button"aria-label="Delete Item" ng-click="$ctrl.delete()" >
                    <md-icon><ng-md-icon icon="delete" ></ng-md-icon></md-icon>
                </md-button>
            </md-card-actions>

        </md-card-title-text>

    </md-card-title>

    <md-card-content>
        <b><p>Description: </p></b>
        {{$ctrl.recipe.description}}
        <b><p>Ingredients:</p></b>
        <div ng-repeat="ingredient in $ctrl.recipe.ingredients">
            <div layout="row">
                <div flex><p>[{{$index + 1}}]  {{ingredient["name"]}} </p></div>
                <div flex><p>Quantity: {{ingredient["quantity"]}} </p></div>
            </div>
        </div>
    <br/>
        <b><p>Preparation steps:</p></b>
        <div ng-repeat="step in $ctrl.recipe.directions">
            <p>Step {{$index + 1}}: {{step}}</p>
        </div>
    </md-card-content>
</md-card>
