
<div class="intro-header" style="background: url({{$ctrl.loadImage('organic.png')}}) no-repeat center center; background-size: cover;">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message featurette-heading">
                    <h1 class="text-center" >What's in Your Fridge?</h1>
                    <div class="text-center">
                        <tags-input ng-model="tags" placeholder="Type here..">
                        </tags-input>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
</div>


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="featurette">
        <img class="featurette-image img-circle pull-right" ng-src="{{$ctrl.loadImage('search.png')}}">
        <h2 class="featurette-heading">Recipe Search. <span class="text-muted">It's Quick and Practical.</span></h2>
        <p class="lead">Tell us what you have left in your fridge and we will suggest recipes for you.</p>
    </div>

    <hr class="featurette-divider">

    <div class="featurette">
        <img class="featurette-image img-circle pull-left" ng-src="{{$ctrl.loadImage('recipes.png')}}">
        <h2 class="featurette-heading">Create & Share. <span class="text-muted">Going Paperless.</span></h2>
        <p class="lead">Create recipes and store them to your online recipe catalogue or share them with the world.</p>
    </div>

    <hr class="featurette-divider">

    <div class="featurette">
        <img class="featurette-image img-circle pull-right" ng-src="{{$ctrl.loadImage('couple.png')}}">
        <h2 class="featurette-heading">Cooking Groups. <span class="text-muted">Connecting People.</span></h2>
        <p class="lead">Sign up for our premium version and join groups near you for a new cooking experience.</p>
    </div>

    <hr class="featurette-divider">


    <!-- /END THE FEATURETTES -->
