<form name="LoginForm" class="form-horizontal">

    <legend>Welcome Back!</legend>
    <div class="form-group">
      <label class="col-lg-2 control-label">Username</label>
      <div class="col-lg-10">
        <input class="form-control" type="text" name="username" ng-model="$ctrl.login.username"  placeholder="Username" required="">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input class="form-control" type="password" name="password" ng-model="$ctrl.login.password"  placeholder="Password" required="" maxlength="64">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button class="btn btn-primary" ng-disabled="!LoginForm.$valid" ng-click="$ctrl.submit()"> Login </button>
      </div>
    </div>

</form>
