<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      </button>
      <a class="navbar-brand">CookItAll</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <button class="btn btn-primary navbar-btn" ng-click="$ctrl.recipeSearch()" outline: none >
                  Search
          </button>
        </li>
        <li>
          <button class="btn btn-primary navbar-btn" ng-click="$ctrl.about()" outline: none >
                  About
          </button>
        </li>
        <li>
          <button class="btn btn-primary navbar-btn" ng-click="$ctrl.recipes()" >
                  Recipes
          </button></li>
        <li>
          <button ng-if="$ctrl.isAuthenticated()" aria-label="Cooking Groups" class="btn btn-primary navbar-btn" ng-click="$ctrl.groups()">
            <md-icon md-menu-align-target><ng-md-icon style="fill: white" icon="grade" ></ng-md-icon></md-icon>
            <font>Cooking Events</font>
          </button>
        </li>
        <li>
          <button ng-if="!$ctrl.isAuthenticated()" aria-label="Cooking Groups" class="btn btn-primary navbar-btn disabled">
            <md-icon md-menu-align-target><ng-md-icon style="fill: white" icon="grade" ></ng-md-icon></md-icon>
            <font>Cooking Events</font>
          </button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
         <a ng-if="$ctrl.isAuthenticated()" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
           <md-icon md-menu-origin><ng-md-icon style="fill: white" icon="account_circle" ></ng-md-icon></md-icon>
           {{$ctrl.getCurrentUser()}}
           <span class="caret"></span>
          </a>
          <ul ng-if="$ctrl.isAuthenticated()" class="dropdown-menu dropdown-content" role="menu">
                 <li><button class="btn menu-btn" md-menu-align-target aria-label="New Recipe" ng-click="$ctrl.newRecipe()">Add New Recipe</button></li>
                 <li><button class="btn menu-btn" md-menu-align-target aria-label="My Catalogue" ng-click="$ctrl.recipes()">My Catalogue</button></li>
                 <li><button class="btn menu-btn" md-menu-align-target aria-label="New Cooking Group" ng-click="$ctrl.newGroup()">Add New Cooking Group</button></li>
         </ul>
        </li>
        <li>
          <button class="btn btn-link navbar-btn " ng-if="$ctrl.isAuthenticated()" ng-click="$ctrl.logout($event)">

            Logout
          </button>
        </li>
        <li>
          <button class="btn btn-link navbar-btn" ng-if="!$ctrl.isAuthenticated()" ng-click="$ctrl.login($event)">

            Login
          </button>
        </li>
        <li>
          <button class="btn btn-link navbar-btn" ng-if="!$ctrl.isAuthenticated()" ng-click="$ctrl.register($event)">

            Sign Up
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
