
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}

.btn:active, .btn:focus {
  color:#18BCA1;
  background: none;
  border-color: #2c3e50;
}

.menu-btn {
  color:#18BCA1;
  background: none;
  outline:none;
}

.menu-btn:focus,.menu-btn:active:focus,.menu-btn.active:focus,
.menu-btn.focus,.menu-btn:active.focus,.menu-btn.active.focus, .menu-btn:hover {
  color:#18BCA1;
  background: none;
  outline:none;
  border-color: white;
}
