<md-toolbar md-colors="{background: 'grey-A100'}">
    <div class="md-toolbar-tools">
      <md-button aria-label="Home" ng-click="$ctrl.recipeSearch()">
              <md-icon md-menu-align-target><ng-md-icon style="fill: black" icon="home"></ng-md-icon></md-icon>
                <font color="black">CookItAll</font>

      </md-button>

      <span flex="5"></span>

      <md-button aria-label="About" ng-click="$ctrl.about()" >
                About
      </md-button>

      <md-button aria-label="Recipes" ng-click="$ctrl.recipes()" >
                Recipes
      </md-button>

      <md-button aria-label="Home" ng-disabled="true">
        <md-icon md-menu-align-target><ng-md-icon style="fill: grey" icon="lock" ></ng-md-icon></md-icon>
        <font color="grey">Cooking Groups</font>
      </md-button>


        <span flex></span>


<md-menu ng-if="$ctrl.isAuthenticated()">
        <md-button ng-click="$ctrl.openMenu($mdMenu, $event)">
          <md-icon md-menu-origin><ng-md-icon style="fill: black" icon="account_circle" ></ng-md-icon></md-icon>
          {{$ctrl.getCurrentUser()}}
        </md-button>
        <md-menu-content>
          <md-menu-item>
            <md-button md-menu-align-target aria-label="New Recipe" ng-click="$ctrl.newRecipe()">Add New Recipe</md-button>
          </md-menu-item>
        </md-menu-content>
</md-menu>

        <md-button ng-if="$ctrl.isAuthenticated()" ng-click="$ctrl.logout($event)">
          <md-icon md-menu-align-target><ng-md-icon style="fill: black" icon="logout" ></ng-md-icon></md-icon>
          Logout
        </md-button>

        <md-button ng-if="!$ctrl.isAuthenticated()" ng-click="$ctrl.login($event)">
          <md-icon md-menu-align-target><ng-md-icon style="fill: black" icon="logout" ></ng-md-icon></md-icon>
          Login
        </md-button>

        <md-button ng-if="!$ctrl.isAuthenticated()" ng-click="$ctrl.register($event)">
          <md-icon md-menu-align-target><ng-md-icon style="fill: black" icon="logout" ></ng-md-icon></md-icon>
          Sign Up
        </md-button>




    </div>
</md-toolbar>
