
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}



.menu-btn {
  color:#18BCA1;
  background: none;
  outline:none;
}

.menu-btn:focus,.menu-btn:active:focus,.menu-btn.active:focus,
.menu-btn.focus,.menu-btn:active.focus,.menu-btn.active.focus, .menu-btn:hover {
  color:#18BCA1;
  background: none;
  outline:none;
  border-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}
