<md-toolbar md-colors="{background: 'grey-A100'}">
    <div class="md-toolbar-tools">
      <md-button aria-label="Home">
                CookItAll
      </md-button>

      <span flex="5"></span>

      <md-button aria-label="About" ng-click="$ctrl.about()" >
                About
      </md-button>

      <md-button aria-label="Home" ng-if="!$ctrl.isAuthenticated()" ng-disabled="true">
        <md-icon md-menu-align-target><ng-md-icon style="fill: grey" icon="lock" ></ng-md-icon></md-icon>
        <font color="grey">Cooking Groups</font>
      </md-button>


        <span flex></span>



        <md-button ng-if="$ctrl.isAuthenticated()">
          <md-icon md-menu-align-target><ng-md-icon style="fill: black" icon="account_circle" ></ng-md-icon></md-icon>
          {{$ctrl.getCurrentUser()}}
        </md-button>

        <md-button ng-if="$ctrl.isAuthenticated()" ng-click="$ctrl.logout($event)">
          <md-icon md-menu-align-target><ng-md-icon style="fill: black" icon="logout" ></ng-md-icon></md-icon>
          Logout
        </md-button>

        <md-button ng-if="!$ctrl.isAuthenticated()" ng-click="$ctrl.login($event)">
          <md-icon md-menu-align-target><ng-md-icon style="fill: black" icon="logout" ></ng-md-icon></md-icon>
          Login
        </md-button>

        <md-button ng-if="!$ctrl.isAuthenticated()" ng-click="$ctrl.register($event)">
          <md-icon md-menu-align-target><ng-md-icon style="fill: black" icon="logout" ></ng-md-icon></md-icon>
          Sign Up
        </md-button>




    </div>
</md-toolbar>
