<form class="form-horizontal" name="groupForm">
  <fieldset>
      <legend><h2><b>Add a New Group</b></h2></legend>

<!-- Name and Author -->
      <br/>
    <div class="form-group">
      <label for="inputName" class="col-lg-2 control-label">Group Name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputName" placeholder="Group Name" ng-model="$ctrl.group.title" required="">
      </div>
    </div>

      <br/>
      <div class="form-group">
          <label for="inputAuthor" class="col-lg-2 control-label">Group Author</label>
          <div class="col-lg-10">
              <input type="text" class="form-control" id="inputAuthor" placeholder="$ctrl.group.author" ng-model="$ctrl.group.author" required="">
          </div>
      </div>

      <br/>
      <div class="form-group">
          <label for="inputDescription" class="col-lg-2 control-label">Description</label>
          <div class="col-lg-10">
              <textarea class="form-control" id="inputDescription" rows = "4" placeholder="Give a short description of this cooking group" ng-model="$ctrl.group.description" required=""></textarea>
          </div>
      </div>

<!-- Date and Time -->

      <br/>
      <div class="form-group">
          <label for="inputDateandTime" class="col-lg-2 control-label">Date and Time</label>
          <div class="col-lg-10">
                  <md-datepicker id="inputDateandTime" md-placeholder="Enter date" ng-model="$ctrl.group.meeting_date"></md-datepicker>

              </div>
      </div>


      <br/>
      <!-- Food preferences -->
      <div class="form-group">
          <label class="col-lg-2 control-label" for="select">Group preferences</label>
          <div class="col-lg-10">
              <p>Choose a category</p>
              <select class="form-control" id="select" multiple ng-model="$ctrl.group.preferences">
                  <option>Meat</option>
                  <option>Vegan</option>
                  <option>Vegetarian</option>
              </select>
          </div>
      </div>

      <!-- Maximum number of members -->

      <br/>

      <div class="form-group">
          <label for="inputMaxNr" class="col-lg-2 control-label">Maximum number of members</label>
          <div class="col-lg-10">
              <input type="text" class="form-control" id="inputMaxNr" placeholder="Maximum number" ng-model="$ctrl.group.max_members" required="">
          </div>
      </div>

      <!-- Location -->

      <br/>
      <div class="form-group">
          <label for="inputStreet" class="col-lg-2 control-label">Street</label>
          <div class="col-lg-10">
              <input type="text" class="form-control" id="inputStreet" placeholder="Type in the street" ng-model="$ctrl.group.location.street" required="">
          </div>
      </div>

      <br/>
      <div class="form-group">
          <label for="inputNumber" class="col-lg-2 control-label">Street number</label>
          <div class="col-lg-10">
              <input type="text" class="form-control" id="inputNumber" placeholder="Type in the street number" ng-model="$ctrl.group.location.number" required="">
          </div>
      </div>

      <br/>
      <div class="form-group">
          <label for="inputPostalCode" class="col-lg-2 control-label">Postal code</label>
          <div class="col-lg-10">
              <input type="text" class="form-control" id="inputPostalCode" placeholder="Type in the postal code" ng-model="$ctrl.group.location.postal_code" required="">
          </div>
      </div>

      <br/>
      <div class="form-group">
          <label for="inputCity" class="col-lg-2 control-label">City</label>
          <div class="col-lg-10">
              <input type="text" class="form-control" id="inputCity" placeholder="Type in the city name" ng-model="$ctrl.group.location.city" required="">
          </div>
      </div>

      <br/>
      <div class="form-group">
          <label for="inputCountry" class="col-lg-2 control-label">Country</label>
          <div class="col-lg-10">
              <input type="text" class="form-control" id="inputCountry" placeholder="Type in the country" ng-model="$ctrl.group.location.country" required="">
          </div>
      </div>
      <!-- Cancel and Submit Buttons -->

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
          <button ng-click="$ctrl.cancel()" type="reset" class="btn btn-default pull-right">Cancel</button>
          <button ng-disabled="!groupForm.$valid" ng-click="$ctrl.save()" type="submit" class="btn btn-primary pull-right">Create group</button>

      </div>
    </div>
  </fieldset>
</form>
