<form class="form-horizontal" name="groupForm">
  <fieldset>
      <legend>Add a New Event</legend>

<!-- Name and Author -->
      <br/>
    <div class="form-group">
      <label for="inputName" class="col-lg-2 control-label">Group Name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputName" placeholder="Group Name" ng-model="$ctrl.group.title" required="">
      </div>
    </div>

      <br/>
      <div class="form-group">
          <label for="inputAuthor" class="col-lg-2 control-label">Group Author</label>
          <div class="col-lg-10">
              <input type="text" class="form-control" id="inputAuthor" placeholder="$ctrl.group.author" ng-model="$ctrl.group.author" required="">
          </div>
      </div>

      <br/>
      <div class="form-group">
          <label for="inputDescription" class="col-lg-2 control-label">Description</label>
          <div class="col-lg-10">
              <textarea class="form-control" id="inputDescription" rows = "4" placeholder="Give a short description of this cooking group" ng-model="$ctrl.group.description" required=""></textarea>
          </div>
      </div>

<!-- Date and Time -->

      <br/>
      <div class="form-group">
          <label  class="col-lg-2 control-label">Date</label>
          <div class="col-lg-10">
                  <md-datepicker  md-placeholder="Choose the date" ng-model="$ctrl.group.meeting_date" required=""></md-datepicker>

              </div>
      </div>


      <br/>

      <div class="form-group">
          <label class="col-lg-2 control-label" for="select1">Time</label>
          <div class="col-lg-10">
              <select class="form-control" id="select1" ng-model="$ctrl.group.meeting_time">
                  <option>12 AM</option>
                  <option>1 AM</option>
                  <option>2 AM</option>
                  <option>3 AM</option>
                  <option>4 AM</option>
                  <option>5 AM</option>
                  <option>6 AM</option>
                  <option>7 AM</option>
                  <option>8 AM</option>
                  <option>9 AM</option>
                  <option>10 AM</option>
                  <option>11 AM</option>
                  <option>12 PM</option>
                  <option>1 PM</option>
                  <option>2 PM</option>
                  <option>3 PM</option>
                  <option>4 PM</option>
                  <option>5 PM</option>
                  <option>6 PM</option>
                  <option>7 PM</option>
                  <option>8 PM</option>
                  <option>9 PM</option>
                  <option>10 PM</option>
                  <option>11 PM</option>
              </select>
          </div>
      </div>

      <br/>
      <!-- Food preferences -->
      <div class="form-group">
          <label class="col-lg-2 control-label" for="select">Group preferences</label>
          <div class="col-lg-10">
              <p>Choose a category</p>
              <select class="form-control" id="select" multiple ng-model="$ctrl.group.preferences" required="">
                  <option>Meat</option>
                  <option>Vegan</option>
                  <option>Vegetarian</option>
              </select>
          </div>
      </div>

      <!-- Maximum number of members -->

      <br/>

      <div class="form-group">
          <label for="inputMaxNr" class="col-lg-2 control-label">Maximum number of members</label>
          <div class="col-lg-10">
              <input type="text" class="form-control" id="inputMaxNr" placeholder="Define a maximum limit for how many members can join the group" ng-model="$ctrl.group.max_members" required="">
          </div>
      </div>

      <!-- Location -->

      <br/>
      <div class="form-group">
      <label class="col-lg-2 control-label">Street name and number</label>
      <div layout-gt-sm="row">
          <div class="col-lg-9">
              <input type="text" class="form-control" placeholder="Type in the street name" ng-model="$ctrl.group.location.street" required="">
          </div>

          <div class="col-lg-3">
              <input type="text" class="form-control" placeholder="Street number" ng-model="$ctrl.group.location.number" required="">
          </div>

      </div>
      </div>

      <br/>
      <div class="form-group">
          <label class="col-lg-2 control-label">Postal code, city and country</label>
          <div layout-gt-sm="row">
              <div class="col-lg-3">
                  <input type="text" class="form-control" placeholder="Postal code" ng-model="$ctrl.group.location.postal_code" required="">
              </div>
              <div class="col-lg-5">
                  <input type="text" class="form-control" placeholder="City" ng-model="$ctrl.group.location.city" required="">
              </div>

              <div class="col-lg-4">
                  <input type="text" class="form-control" placeholder="Country" ng-model="$ctrl.group.location.country" required="">
              </div>

          </div>
      </div>

      <!-- Cancel and Submit Buttons -->

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">

          <button ng-disabled="!groupForm.$valid" ng-click="$ctrl.save()" type="submit" class="btn btn-primary ">Create group</button>
          <button ng-click="$ctrl.cancel()" type="reset" class="btn btn-default ">Cancel</button>
      </div>
    </div>
  </fieldset>
</form>
