<div class="intro-header">
    <div class="container-fluid">

        <div class="row">
            <div class="text-center">
              <div class="featurette">
                <div class="featurette-heading">
                    
                    <h1>CookItAll</h1>
                    <p class="lead">The online recipe recommendation platform where people can search for recipes consisting only of the ingredients they have at home, create recipes and add them to a personalized recipe catalogue or join cooking groups nearby.</p>
                </div>
            </div>
          </div>

        </div>


    <!-- /.container -->
    </div>
</div>
<!-- /.intro-header -->
<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="featurette">
    <img class="featurette-image img-circle pull-right" ng-src="{{$ctrl.loadImage('search.png')}}">
    <h2 class="featurette-heading">Recipe Search. <span class="text-muted">It's Quick and Practical.</span></h2>
    <p class="lead">Tell us what you have left in your fridge and we will suggest recipes for you.</p>
</div>

<hr class="featurette-divider">

<div class="featurette">
    <img class="featurette-image img-circle pull-left" ng-src="{{$ctrl.loadImage('recipes.png')}}">
    <h2 class="featurette-heading">Create & Share. <span class="text-muted">Going Paperless.</span></h2>
    <p class="lead">Create recipes and store them to your online recipe catalogue or share them with the world.</p>
</div>

<hr class="featurette-divider">

<div class="featurette">
    <img class="featurette-image img-circle pull-right" ng-src="{{$ctrl.loadImage('couple.png')}}">
    <h2 class="featurette-heading">Cooking Groups. <span class="text-muted">Connecting People.</span></h2>
    <p class="lead">Sign up for our premium version and join groups near you for a new cooking experience.</p>
</div>

<hr class="featurette-divider">


<!--Meet the team-->
<h1 class="text-center">Meet The Team</h1>
<br/>
<div class="container">
                    <div class="row">

                        <div class="col-md-3 col-sm-3">

                                    <img class="img-circle-new img-team" src="{{$ctrl.loadImage('aldijana.jpg')}}" alt="team member" class="img-responsive">

                            <div>
                                <h5 class="name">Aldijana Biljali</h5>
                                <span>Information Systems</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">

                                    <img class="img-circle-new img-team" src="{{$ctrl.loadImage('TeoLata.png')}}" alt="team member" class="img-responsive">

                            <div>
                                <h5 class="name">Teodora Lata</h5>
                                <span>Information Systems</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">

                                    <img class="img-circle-new img-team" src="{{$ctrl.loadImage('photo.jpg')}}" alt="team member" class="img-responsive">

                            <div>
                                <h5 class="name">Andreea Niculescu</h5>
                                <span>Information Systems</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">

                                    <img class="img-circle-new img-team" src="{{$ctrl.loadImage('pic1.jpg')}}" alt="team member" class="img-responsive">

                            <div>
                                <h5 class="name">Hamza Zafar</h5>
                                <span>Computer Science</span>
                            </div>
                        </div>

                    </div>

                </div>

    <hr class="featurette-divider">
