<div class="intro-header">
    <div class="container-fluid">

        <div class="row">
            <div class="text-center">
                <div class="intro-message featurette-heading">
                    <img class="featurette-image img-circle pull-right" ng-src="{{$ctrl.loadImage('workspace.png')}}">
                    <h1>Our buiness idea</h1>
                    <p class="lead">CookItAll is an online recipe recommendation platform where people who are looking for cooking ideas can either search for recipes consisting only of the ingredients they have at home, or explore all available recipes on the platform by keyword filtering.</p>
                </div>
            </div>

        </div>
    <!-- /.container -->
    </div>
</div>
<!-- /.intro-header >>

<!-- START THE FEATURETTES -->

 <hr class="featurette-divider">

 <div class="featurette">
   <img class="featurette-image img-circle pull-left" ng-src="{{$ctrl.loadImage('value-proposition.png')}}">
   <h2 class="featurette-heading">Value Proposition <span class="text-muted">What do we offer</span></h2>
   <p class="lead"></p>
 </div>

 <hr class="featurette-divider">

 <div class="featurette">
   <img class="featurette-image img-circle pull-right" ng-src="{{$ctrl.loadImage('teamwork.png')}}">
   <h2 class="featurette-heading">Customer Segment <span class="text-muted">To whom are we offering our service</span></h2>
   <p class="lead">The main customer segments of CookItAll are students, professionals, families and the elderly who are looking for recipe ideas. Instead of buying a lot of ingredients for one recipe, our customers want to find the perfect recipe using what they already have at home. </p>
 </div>

 <hr class="featurette-divider">

<div class="featurette">
    <img class="featurette-image img-circle pull-left" ng-src="{{$ctrl.loadImage('care.png')}}">
    <h2 class="featurette-heading">Customer Relationships <br/><span class="text-muted">How do we take care of our customers</span></h2>
    <p class="lead">In order to raise the population’s awareness about our offerings we will use the power of Google AdWords and various social media, like Facebook and Twitter. Furthermore, once we have reached the interest of the customers we want to keep them coming back. </p>
</div>
 <!-- /END THE FEATURETTES -->
