<div class="intro-header">
    <div class="container-fluid">

        <div class="row">
            <div class="text-center">
              <div class="featurette">
                <div class="featurette-heading">
                    <img class="featurette-image img-circle pull-right" ng-src="{{$ctrl.loadImage('workspace.png')}}">
                    <h1>Our buiness idea</h1>
                    <p class="lead">CookItAll is an online recipe recommendation platform where people who are looking for cooking ideas can either search for recipes consisting only of the ingredients they have at home, or explore all available recipes on the platform by keyword filtering.</p>
                </div>
            </div>
          </div>

        </div>


    <!-- /.container -->
    </div>
</div>
<!-- /.intro-header -->
<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="featurette">
    <img class="featurette-image img-circle pull-right" ng-src="{{$ctrl.loadImage('search.png')}}">
    <h2 class="featurette-heading">Recipe Search. <span class="text-muted">It's Quick and Practical.</span></h2>
    <p class="lead">Tell us what you have left in your fridge and we will suggest recipes for you.</p>
</div>

<hr class="featurette-divider">

<div class="featurette">
    <img class="featurette-image img-circle pull-left" ng-src="{{$ctrl.loadImage('recipes.png')}}">
    <h2 class="featurette-heading">Create & Share. <span class="text-muted">Going Paperless.</span></h2>
    <p class="lead">Create recipes and store them to your online recipe catalogue or share them with the world.</p>
</div>

<hr class="featurette-divider">

<div class="featurette">
    <img class="featurette-image img-circle pull-right" ng-src="{{$ctrl.loadImage('couple.png')}}">
    <h2 class="featurette-heading">Cooking Groups. <span class="text-muted">Connecting People.</span></h2>
    <p class="lead">Sign up for our premium version and join groups near you for a new cooking experience.</p>
</div>

<hr class="featurette-divider">

<br/>

<div class="text-center">
    <h1>Our team </h1>
</div>
<br/>

<div layout="row">
    <img src="{{$ctrl.loadImage('aldijana.jpg')}}" class="img-circle">
    <img src="{{$ctrl.loadImage('TeoLata.jpg')}}" class="img-circle">
    <img src="{{$ctrl.loadImage('photo.jpg')}}" class="img-circle">
    <img src="{{$ctrl.loadImage('pic1.jpg')}}" class="img-circle">
</div>

