<div layout="column" layout-padding>
    <md-content class="md-no-momentum">
        <h1>Add a New Recipe</h1>
        <br/>
        <form name="recipeForm">

            <md-input-container md-no-float class="md-input-has-value md-block">
                <input placeholder="Insert the Name of Your Recipe" ng-model="$ctrl.recipe.title" required="" type="text">
                <div ng-if="!recipeForm.$ctrl.recipe.title.$valid">
                </div>
            </md-input-container>

            <md-toolbar class="md-theme-light">
              <h2 class="md-toolbar-tools">
                <span>Ingredients</span>
              </h2>
            </md-toolbar>
                <ul>
                    <li style="list-style: none;" ng-repeat="i in $ctrl.recipe.ingredients track by $index">
                    <h3> Name: {{i.name + ", Quantity:  " + i.quantity}} </h3>
                    </li>
                </ul>

  <div layout-gt-sm="row">
            <md-input-container md-no-float class="md-input-has-value md-block" flex-gt-sm>
                <input md-maxlength="20" type="text" placeholder="Insert Ingredient Name" ng-model="$ctrl.iName">
            </md-input-container>

            <div flex="5" hide-xs hide-sm>
                  <!-- Spacer //-->
            </div>
            <md-input-container md-no-float class="md-input-has-value md-block" flex-gt-sm>
                <input md-maxlength="20" type="text" placeholder="Insert Ingredient Quantity" ng-model="$ctrl.iQuantity">
            </md-input-container>

            <div flex="5" hide-xs hide-sm>
                  <!-- Spacer //-->
            </div>

            <md-button  ng-click="$ctrl.addIngredient()">Add</md-button>
    </div>
            <md-toolbar class="md-theme-light">
              <h2 class="md-toolbar-tools">
                <span>Directions</span>
              </h2>
            </md-toolbar>
                <ul>
                    <li style="list-style: none;" ng-repeat="d in $ctrl.recipe.directions track by $index">
                     <h3> [Step {{$index + 1}}] {{d}} </h3>
                    </li>
                </ul>
  <div layout-gt-sm="row">
            <md-input-container md-no-float class="md-block" flex-gt-sm>
                <input type="text" placeholder="Insert Directions" ng-model="$ctrl.temp">
            </md-input-container>

            <md-button ng-click="$ctrl.addDirection()">Add</md-button>
 </div>

            <div layout="row">
                <span flex></span>
                <md-button ng-disabled="!recipeForm.$valid" class="md-raised md-primary"type="submit" ng-click="$ctrl.save()">Save</md-button>
                <md-button class="md-raised" ng-click="$ctrl.cancel()">Cancel</md-button>
            </div>

        </form>
    </md-content>

</div>
