<form class="form-horizontal" name="recipeForm">
  <fieldset>
    <legend>Add a New Recipe</legend>

<!-- Name and Author -->

    <div class="form-group">
      <label for="inputName" class="col-lg-2 control-label">Name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="$ctrl.recipe.title" required="">
      </div>
    </div>

    <div class="form-group">
      <label for="inputImage" class="col-lg-2 control-label">Image</label>
      <div class="col-lg-8">

      <input type="file" ngf-select ng-model="picFile" name="file"
             accept="image/*" ngf-max-size="20MB" required
             ngf-model-invalid="errorFile">
      <i ng-show="myForm.file.$error.required">*required</i><br>

      </div>
      <img ngf-thumbnail="$ctrl.recipe.image"/>
      <img ng-src="{{$ctrl.recipe.image}}">
    </div>

      <div class="form-group">
          <label for="inputDescription" class="col-lg-2 control-label">Description</label>
          <div class="col-lg-10">
              <textarea class="form-control" id="inputDescription" rows = "4" placeholder="Description" ng-model="$ctrl.recipe.description" required=""></textarea>
          </div>
      </div>
    <div class="form-group">
      <label for="inputAuthor" class="col-lg-2 control-label">Author</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputAuthor" placeholder="$ctrl.recipe.author" ng-model="$ctrl.recipe.author" required="">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Share my recipe with others
          </label>
        </div>
      </div>
    </div>

<!-- Ingredients -->

<div class="form-group">
          <div ng-if="$ctrl.recipe.ingredients.length > 0" class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Ingredients</h3>
            </div>
            <div class="panel-body">
              <ul>
                <li style="list-style: none;" ng-repeat="i in $ctrl.recipe.ingredients track by $index">
                   <h5> [{{$index + 1}}] {{i.name + "&emsp;" + i.quantity}} </h5>
                </li>
              </ul>
            </div>
          </div>

      <label class="col-lg-2 control-label">Ingredient</label>
<div layout-gt-sm="row">
        <div class="col-lg-6">
          <input type="text" class="form-control" placeholder="Ingredient" ng-model="$ctrl.iName" maxlength="20">
        </div>

        <div class="col-lg-6">
          <input type="text" class="form-control" placeholder="Quantity" ng-model="$ctrl.iQuantity" maxlength="20">
        </div>
      <button class="btn btn-info btn-sm" ng-click="$ctrl.addIngredient()">Add</button>
    </div>
</div>

<!-- Directions -->

<div class="form-group">
      <div ng-if="$ctrl.recipe.directions.length > 0" class="panel panel-info">
          <div class="panel-heading">
              <h3 class="panel-title">Cooking Directions</h3>
          </div>
          <div class="panel-body">
            <ul>
              <li style="list-style: none;" ng-repeat="d in $ctrl.recipe.directions track by $index">
                <h5> [Step {{$index + 1}}] {{d}} </h5>
              </li>
            </ul>
          </div>
      </div>

        <label for="directions" class="col-lg-2 control-label">Directions</label>
        <div layout-gt-sm="row">
        <div class="col-lg-12">
          <input class="form-control" id="directions" ng-model="$ctrl.temp" placeholder="Step..."></input>
        </div>



        <button class="btn btn-info btn-sm" type="button" ng-click="$ctrl.addDirection()">Add</button>
      </div>

</div>


<!-- Cancel and Submit Buttons -->

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
          <button ng-disabled="!recipeForm.$valid" ng-click="$ctrl.save(picFile)" type="submit" class="btn btn-primary">Submit</button>
        <button ng-click="$ctrl.cancel()" type="reset" class="btn btn-default">Cancel</button>
      </div>
    </div>
  </fieldset>
</form>
