<div layout="column" layout-padding>
    <md-content class="md-no-momentum">
        <h1>Add a new recipe</h1>
        <br/>
        <form name="recipeForm">
            <label>Title</label>
            <md-input-container class="md-icon-float md-block">
                <input ng-model="$ctrl.recipe.title" type="text">
            </md-input-container>
            <label>Directions</label>
                <ul>
                    <li ng-repeat="d in $ctrl.recipe.directions">
                    {{d}}
                    </li>
                </ul>

            <md-input-container class="md-block">
                <input type="text" placeholder="Type Direction" ng-model="$ctrl.temp" ng-keypress="($event.charCode==13)? $ctrl.addDirection() : return">

            </md-input-container>
            <label> Ingredients </label>
                <ul>
                    <li ng-repeat="i in $ctrl.recipe.ingredients">
                    {{i.name + " " i.quantity}}
                    </li>
                </ul>

            <md-input-container class="md-block">
                <input type="text" placeholder="Type Ingredient Name" ng-model="$ctrl.iName">
                <input type="text" placeholder="Type Ingredient Quantity" ng-model="$ctrl.iQuantity">
            </md-input-container>
            <md-button  class="md-button md-ink-ripple" ng-click="$ctrl.addIngredient()">Add Ingredient</md-button>
           
            <div layout="row">
                <span flex></span>
                <md-button class="md-button md-ink-ripple" type="submit" ng-click="$ctrl.save()">Save</md-button>
                <md-button class="md-button md-ink-ripple" ng-click="$ctrl.cancel()">Cancel</md-button>
            </div>

        </form>
    </md-content>

</div>
