.glyphicon {
    font-size: 50px;

}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    color: white;
    background-color: #18bc9c;
    border-color: #18bc9c;
}
