<md-card class ="col-md-12">
    <md-card-title>
        <md-card-title-text>
            <div layout="row">
              <span class="md-headline col-md-8">{{$ctrl.group.title}} </span>

              <button type="button" class="btn btn-success col-md-2" >Join Event</button>
              <button type="button" class="btn btn-primary col-md-2" >Cancel Event</button>
                

              </div>
              <div class="text-muted col-md-8">
                created on {{$ctrl.group.published_date | date:'dd/MM/yyyy'}}
              </div>
          </md-card-title-text>

    </md-card-title>

    <div class= "row">
      <div class="col-md-9">
            	<iframe id= "groupLocation" width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="" ></iframe>

      </div>
      <div class="col-md-3">

        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">{{$ctrl.group.meeting_date | date:"d MMMM, y"}}</h3>
          </div>
          <div class="panel-body">
            {{$ctrl.group.meeting_date | date:"EEEE 'at' h:mma"}}
          </div>
        </div>

        <ul class="list-group">
          <li class="list-group-item">
            Restrictions
            <span class="label label-danger pull-right">{{$ctrl.group.preferences}}</span>
          </li>
          <li class="list-group-item">
            <span class="badge">{{$ctrl.group.members_list.length}}</span>
            Members
          </li>
          <li class="list-group-item">
            <span class="badge">{{$ctrl.getOpenSpots()}}</span>
            Open Spots
          </li>
        </ul>


<br/>



    	</div>
    </div>


    <md-card-content>

        <p><b>Event Owner</b> {{$ctrl.group.author}} </p>
        <address>
    			<strong>Event Address</strong>
    			{{$ctrl.group.location.street}} {{$ctrl.group.location.number}},
    			{{$ctrl.group.location.postal_code}} {{$ctrl.group.location.city}},
    			{{$ctrl.group.location.country}}
    		</address>
        <p><b>Short Description</b> {{$ctrl.group.description}} </p>

        <b><p>Current Members</p></b>
        <div ng-repeat="member in $ctrl.group.members_list">
            <div layout="row">
                <p>[{{$index + 1}}]  {{member}} </p>
            </div>
        </div>


    </md-card-content>
</md-card>


<br/>
  <br/>
  <div class= "row">
    <p class = "col-md-8 md-headline"><b>Discussions</b></p>
    <!-- Trigger the modal with a button -->
    <h2><button type="button" class="btn btn-success col-md-4" data-toggle="modal" data-target="#myModal">Comment on this Event</button></h2>
  </div>
</br>

<ul>
  <li style="list-style: none;" ng-repeat="comment in $ctrl.model.comments">
    <div class="row">
      <div class="col-sm-1">
        <div class="thumbnail">
          <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
        </div><!-- /thumbnail -->
      </div><!-- /col-sm-1 -->

      <div class="col-sm-11">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>{{comment.author}} </strong> <span class="text-muted"> commented {{comment.published_date | date:'dd/MM/yyyy'}}</span>
            <md-button ng-if="$ctrl.UserService.getCurrentUser().username == comment.author" class="md-icon-button pull-right layout-align-center-end" aria-label="Delete Item" ng-click="$ctrl.deleteComment(comment)" >
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
             </md-button>

            </div>
          <div class="panel-body">
            {{comment.comment}}
          </div><!-- /panel-body -->
        </div><!-- /panel panel-default -->
      </div><!-- /col-sm-5 -->
    </div>
  </li>
</ul>



  <div id="myModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{$ctrl.UserService.getCurrentUser().username}}</h4>
      </div>

      <div class="modal-body">

        <textarea class="form-control" rows="3" id="inputName" placeholder="Review.." ng-model="$ctrl.discussion_comment" required=""></textarea>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$ctrl.addComment()" >Add Comment</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
