<md-card class ="col-md-12">
    <md-card-title>
        <md-card-title-text>
            <div layout="row">
              <span class="md-headline">{{$ctrl.group.title}} </span>
              <div class="text-muted">  created on {{$ctrl.group.published_date | date:'dd/MM/yyyy'}}</div>


                <md-button class="md-icon-button"aria-label="Delete Item" ng-click="$ctrl.delete()" >
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </md-button>

              </div>
          </md-card-title-text>

    </md-card-title>

    <md-card-content>

  


        <p><b>Event Information</b> </p>
        <p>
          Event Owner: {{$ctrl.group.author}} <br/>
          <br/>
          Date and Time: {{$ctrl.group.meeting_date | date:"EEEE, MMMM d, y 'at' h:mma"}} <br/>
          <br/>
          Preferences: {{$ctrl.group.preferences}} <br/>
        </p>
        <b><p>Members:</p></b>
        <div ng-repeat="member in $ctrl.group.members_list">
            <div layout="row">
                <p>[{{$index + 1}}]  {{member}} </p>
            </div>
        </div>
        <b><p>Open spots: {{$ctrl.getOpenSpots()}}</p></b>
    <br/>

      <!-- here comes the map -->
    </md-card-content>
</md-card>


<br/>
  <br/>
  <div class= "row"
    <span><p><h2><b>Discussions</b></h2></p></span>
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#myModal">Comment on this Event</button>
  </div>
</br>

<ul>
  <li style="list-style: none;" ng-repeat="review in $ctrl.model.reviews">
    <div class="row">
      <div class="col-sm-1">
        <div class="thumbnail">
          <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
        </div><!-- /thumbnail -->
      </div><!-- /col-sm-1 -->

      <div class="col-sm-11">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>{{review.author}} </strong> <span class="text-muted"> commented {{review.published_date | date:'dd/MM/yyyy'}}</span>
            <md-button ng-if="$ctrl.UserService.getCurrentUser().username == review.author" class="md-icon-button pull-right layout-align-center-end" aria-label="Delete Item" ng-click="$ctrl.deleteReview(review)" >
                 <md-icon><ng-md-icon icon="delete"></ng-md-icon></md-icon>
             </md-button>
            </div>
          <div class="panel-body">
            {{review.comment}}
          </div><!-- /panel-body -->
        </div><!-- /panel panel-default -->
      </div><!-- /col-sm-5 -->
    </div>
  </li>
</ul>



  <div id="myModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{$ctrl.UserService.getCurrentUser().username}}</h4>
      </div>

      <div class="modal-body">

        <textarea class="form-control" rows="3" id="inputName" placeholder="Review.." ng-model="$ctrl.review_comment" required=""></textarea>

        <label for="rating">Please rate the recipe:</label>
          <select class="form-control" id="rating" ng-model="$ctrl.stars">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>

          </select>


      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$ctrl.addReview()" >Add Review</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
