.md-button.md-fab.md-fab-bottom-right {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
}

.md-button.md-fab  {
    background-color: #18bc9c;
    color: rgb(255,255,255);
}

.md-button.md-fab:not([disabled]):hover {
    background-color: #18bc9c;
}
