<md-list>

    <md-list-item aria-label="Recipe" ng-click="$ctrl.details(recipe)" class="md-3-line" ng-repeat="recipe in $ctrl.recipes">
      <!--  <md-icon><ng-md-icon icon="insert_drive_file"></ng-md-icon></md-icon>  -->

        <img ng-src="{{recipe.image}}?{{$index}}" class="sizing2"  />

        <div class="md-list-item-text">
            <br/>
            <h3><b>{{recipe.title}}</b></h3>
            <h5><i>Created on: {{recipe.published_date | date:'dd/MM/yyyy'}}</i></h5>
            <p style="color:black"><strong>{{recipe.description}}</strong></p>
            <br/>
        </div>

            <div layout="row">
       <div flex><md-button class="md-icon-button" aria-label="Edit Item" ng-click="$ctrl.edit(recipe)" >
           <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </md-button> </div>

            <div flex><md-button class="md-icon-button"aria-label="Delete Item" ng-click="$ctrl.delete(recipe)" >
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </md-button> </div>
         </div>


            <div layout="column" layout-align=" end end">
            <md-button class="md-icon-button " aria-label="Share">
                <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
            </md-button>
            </div>


       <md-divider ng-if="!$last"></md-divider>

    </md-list-item>
    <md-divider></md-divider>

</md-list>
<md-button class="md-fab md-fab-bottom-right md-ink-ripple" aria-label="New Recipe" ng-click="$ctrl.newRecipe()">
    <md-icon><ng-md-icon icon="add"></ng-md-icon></md-icon>
</md-button>


